body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
}
header {
    text-align: center; 
    margin-bottom: -30px;
}
h3{
    margin: 5px 0;
}
hr{
    margin-top: 1px;
    border: 1px solid black;
}
.entries{
    display: flex;
    justify-content: space-between;
}
.left-entries{
    text-align: left;
}
.right-entries{
    text-align: right;
}